DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password_here
DB_DATABASE=your_database_name

PORT=3333

JWT_SECRET=your_jwt_secret_here
JWT_SECRET_EXPIRE=15m

JWT_REFRESH=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRE=7d
